@import "tailwindcss";

.button {
    border-color:#906050;
    background-color:#E9D4B5;
    color:#000000;
    /* Tailwind */
    @apply
    w-90 h-15
    border-3
    rounded-full
    flex items-center justify-center
    text-xl font-medium
    transition 
    duration-40
    ease-in-out
    cursor-pointer
}

.button:hover {
    @apply
    transform
    duration-300
    scale-105
}

.back-button {
    @apply
    absolute top-2 left-2
    text-amber-100
    hover:bg-green-800
    bg-green-900 border-3
    border-amber-900
    pt-2 pb-2 pl-4 pr-4
    rounded-lg
}