@import "tailwindcss";

.button { /* button customization */
    border-color:#906050;

    /* Tailwind */
    @apply
    w-90 h-15
    border-3
    rounded-full
    flex items-center justify-center
    text-xl font-medium
    transform hover:scale-105
    transition duration-200 ease-in-out
    cursor-pointer  
}
