@import "tailwindcss";

.button { 
    border-color:#52452b;
    background-color: #e9b348;
    color: #ffffff;

    @apply
    relative
    w-90 h-15
    border-6
    rounded-full
    flex items-center justify-center
    text-2xl font-bold
    transition 
    duration-40
    ease-in-out
    cursor-pointer
    transform
    duration-300
    scale-100
}

.button:hover {
    @apply
    transform
    duration-300
    scale-110;

    background-color:rgb(202, 150, 28)
}

.back-button {
    @apply
    cursor-pointer
    text-amber-100
    hover:bg-amber-300
    border-3
    pt-2 pb-2 pl-4 pr-4
    mt-1 mb-1 mr-5
    rounded-lg
    font-bold
    text-shadow-md;

    text-shadow: 0px 0px 3px #000000;
    background-color: #e9b348;
    border-color: #523F39;
}