@import "tailwindcss";

.container {
    max-width: 800px;
    margin: 0 auto;
}

.CL-header {
    text-align: center;
    text-shadow: #000000 0px 0px 5px;
    margin-bottom: 3rem;
    color:#ffffff;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-title h1 {
    font-size: 3rem;
    font-weight: bold;
   
}

.header-subtitle {
    font-size: 1.125rem;
}

.current-chord {
    background: #E9B348;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color:#fff;
    border: 6px solid #523F39;
    text-shadow: #000000 0px 0px 8px;
}

.current-chord h2 {
    font-size: 2.5rem;
    font-weight: bold;
    /* color: white; */
    margin-bottom: 0.5rem;
}

.current-chord p {
    color: #fff;
    text-shadow: #000000 0px 0px 10px;
}

.slider-section {
    margin-bottom: 2rem;
}

.slider-label {
    display: block;
    color: #fff;
    text-shadow: #000000 0px 0px 10px;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.slider-container {
    background-color:#e9b348;
    border-radius: 0.75rem;
    padding: 1rem;
    border: 6px solid #52452b;
}

.slider-scroll {
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

.slider-scroll::-webkit-scrollbar {
    height: 8px;
}

.slider-scroll::-webkit-scrollbar-track {
    background: #6753266f;
    border-radius: 4px;
}

.slider-scroll::-webkit-scrollbar-thumb {
    background: #624a19;
    border-radius: 4px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    min-width: max-content;
}

.slider-btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    background: #4f4021;
    text-shadow: #000000 0px 0px 4px;
    color: #fff;
    white-space: nowrap;
}

.slider-btn:hover {
    @apply
    scale-110;
    background: #7f6532;
}

.slider-btn.active-root {
    background: #885543;
    color: white;
    box-shadow: 0 10px 25px #724737;
    transform: scale(1);
}

.slider-btn.active-type {
    background: #885543;
    color: white;
    box-shadow: 0 10px 25px #724737;
    transform: scale(1);
}

.chord-diagram-container {
    background: #EBBA5A;
    border: 6px solid #52452B;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.diagram-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: #000000 0px 0px 10px;
    margin-bottom: 1.5rem;
    text-align: center;
}