@import "tailwindcss";

/* CSS entry point  */
/* import other css files */
@import "./button.css";
@import "./lessons.css";
@import "./chord-library.css";

*,
*::before,
*::after { 
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.header-strums {
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
}

.header-left { display: flex; align-items: center; gap: 16px; }

.strums-logo {
    font-family: Georgia, serif;
    font-size: 1.6rem;
    font-weight: bold;;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

.bg-main {
    background-image: url('../assets/images/BG-main.jpg');
    background-attachment: fixed;

    @apply
    bg-cover
    bg-center
    bg-no-repeat
    min-h-screen
}

.logo {
    @apply
    font-serif
    flex
    items-center
    justify-center
    pt-1 pb-1
    uppercase;

    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.1em;
    text-shadow: #000000 0px 0px 10px;
    color:#ffffff;
}

.tagline {
    @apply
    mb-9
    flex
    items-center 
    justify-center 
    text-2xl
    font-bold;

    color:#ffffff;
    text-shadow: #000000 0px 0px 5px;
}

.foot {
    @apply
    flex
    items-center
    justify-center
    relative
    mt-30 mb-5
    text-sm
    opacity-75
    text-white
    drop-shadow-[0_2px_2px_rgba(0,0,0,1)]
}