@import "tailwindcss";

.button { /* button customization */
    border-color:#906050;

    /* Tailwind */
    @apply
    w-90 h-15
    border-3
    rounded-full
    flex items-center justify-center
    text-xl font-medium
    transform hover:scale-105
    transition duration-200 ease-in-out
    cursor-pointer  
}

body {
    position: relative;
    color: var(--text-color);
    transition: color 0.5s ease;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.9s ease;
}
/* LIGHT MODE */
body::before {
    background-color: #E8DCC4;
    opacity: 1;
}

body::after {
    background-color: #3E2723;
    opacity: 0;
}
/* DARK MODE */
html.dark-mode body::before {
    opacity: 0;
}

html.dark-mode body::after {
    opacity: 1;
}

html.dark-mode body {
    --text-color: #fffcfc;
    --button-bg: #333333;
}