@import "tailwindcss";

.button {
    border-color:#A27D3F;
    @apply
    w-90 h-15
    bg-transparent border-2
    rounded-r-full
    flex items-center justify-center
    text-gray-300 text-xl font-medium
}

.bg-waves {
  background-image: url('/assets/images/waves.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#1A212D
}