@import "tailwindcss";

.button {
    border-color:#A27D3F;
    background-color:#1A212D;
    @apply
    w-90 h-15
    border-2
    rounded-full
    flex items-center justify-center
    text-gray-300 text-xl font-medium
    hover:bg-stone-800
    hover:border-amber-400
    transition duration-200 ease-in-out
    cursor-pointer   
}

.button:active {
    background-color:#ffffff;
}

.bg-waves {
  background-image: url('../assets/images/waves.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#1A212D;
}