@import "tailwindcss";

body {
    position: relative;
    color: var(--text-color);
    transition: color 0.5s ease;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.9s ease;
}

/* LIGHT MODE */
body::before {
    background-color: #E8DCC4;
    opacity: 1;
}
/* DARK MODE */
body::after {
    background-color: #513833;
    opacity: 0;
}

html.dark-mode body::before {
    opacity: 0;
}

html.dark-mode body::after {
    opacity: 1;
}

html.dark-mode body {
    --text-color: #fffcfc;
    --button-bg: #333333;
}